@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">

    <img src="https://s.france24.com/media/display/d1676b6c-0770-11e9-8595-005056a964fe/w:1400/p:16x9/news_1920x1080.webp" class="img-fluid">

    <div class="col-sm-4 text-info bg-warning">News Title</div>
    <div class="col-sm-8  text-info bg-warning">
        Description
    </div>

    <div class="col-sm-4 text-light bg-dark">Mt Ruapehu climber with severely broken leg found just before dark</div>
    <div class="col-sm-8 text-light bg-dark">
        A solo climber slipped and severely broke his leg on Mt Ruapehu, sparking a near seven-hour search and rescue operation with crew desperate to find him before nightfall.

        The man activated his personal locator beacon around 1.45pm on Sunday after falling, prompting a rescue helicopter to search the area for him.
    </div>

    <div class="col-sm-4 text-warning bg-light">Budget 2021: Government announces $17 million air ambulance funding</div>
    <div class="col-sm-8 text-warning bg-light">
        A funding boost for air ambulance services has slashed the response times overall by almost 30 per cent in just a few years, according to the Ministry of Health.

        In 2017 the Government launched a 10-year modernisation programme amid rising demand for air ambulance services and with the then current fleet averaging around 30 years of age.

    </div>


    <div class="col-sm-4 text-light bg-dark">Helicopter air ambulance changes left transfers unavailable and DHBs fearing for patients</div>
    <div class="col-sm-8 text-light bg-dark">
        Helicopter air ambulance transfers weren't readily available for days at a time, leading to fears patients could be harmed.

        Improvements were ordered for the service covering Auckland and Northland and a review by independent experts

    </div>


</div>
<div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="#"> News Portal</a>
</div>
