@page
@model NewsPortal.Pages.NewsModel
@{
}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<div class="container">
    <h3>Add News</h3>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="news.HLine"></label>
                <input asp-for="news.HLine" class="form-control" />
                <span class="alert-danger" asp-validation-for="news.HLine"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="news.NDetails"></label>
                <input asp-for="news.NDetails" class="form-control" />
                <span class="alert-danger" asp-validation-for="news.NDetails"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="news.NCity"></label>
                <input asp-for="news.NCity" class="form-control" />
                <span class="alert-danger" asp-validation-for="news.NCity"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="news.NDate"></label>
                <input asp-for="news.NDate" class="form-control" />
                <span class="alert-danger" asp-validation-for="news.NDate"></span>
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="/allNews">Cancel</a>
    </form>
</div>

